.carousel .container {
    margin-top: -2%;
}

.carousel-indicators button {
    background-color: #20376C !important;
}

#carousel .carousel-control-next svg,
#carousel .carousel-control-prev svg {
    font-size: 2.8em !important;
}

.carousel-item {
    height: 0%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.carousel .img-fluid {
    width: 30vw;
    height: 70vh;
    object-fit: contain;
    border-radius: 20px;
}

.carousel .col-lg-6 {
    padding-left: 10%;
}

.carousel-control-next,
.carousel-control-prev {
    position: absolute;
    top: 50%;
    bottom: 50%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #20376C !important;
    text-align: center;
    opacity: 0.5;
    transition: opacity 0.15s ease;
}

.carousel .text-align-left {
    width: 90%;
}

.carousel .h1 {
    color: #20376C;
    font-size: 26px;
    line-height: 30px;
}

.carousel .h2 {
    color: #20376C;
    font-size: 20px;
    font-weight: 700;
}

.carousel .p {
    color: #272727;
    font-size: 18px;
}

.carousel a.carousel-control-prev,
.carousel a.carousel-control-next {
    color: #20376C !important;
    font-weight: 700;
    transition: 0.3s;
}

.carousel a.carousel-control-prev:hover,
.carousel a.carousel-control-next:hover {
    color: #D5626D !important;
    font-weight: 700;
    transition: 0.3s;
}

@media (max-width: 1040px) {

    .carousel .section {
        padding: 0px !important;
    }

    .carousel-item {
        height: auto;
    }

    .carousel .img-fluid {
        width: 500px;
        height: 300px;
        margin-bottom: 20px;
    }

    .carousel .h1 {
        width: 100%;
        text-align: center;
    }

    .carousel .h2 {
        width: 100%;
        text-align: center;
    }

    .carousel .p {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 980px) {
    .carousel .section {
        padding: 0px !important;
    }

    .carousel-indicators button {
        padding: 0px;
    }

    .carousel .col-lg-6 {
        padding-left: 0%;
    }

    .carousel {
        align-items: center !important;
        height: auto;
    }

    .carousel-item {
        height: auto;
    }

    .carousel .h1 {
        width: 80%;
    }

    .carousel .p {
        width: 80%;
        font-size: 16px;
    }

    .carousel .img-fluid {
        width: 70%;
        height: auto;
    }
}

@media (max-width: 890px) {
    .carousel .section {
        padding: 0px !important;
    }

    .carousel .img-fluid {
        width: 90%;
        height: auto;
    }

    .carousel .h1 {
        width: 100%;
    }

    .carousel .p {
        width: 100%;
        margin: 20px 0px;
    }

    .carousel .text-align-left {
        width: 100%;
    }

    #carousel .carousel-control-prev svg,
    #carousel .carousel-control-next svg {
        font-size: 0em !important;
    }
}