.hero {
    background: rgba(245, 197, 210, 0.25);
    padding: 120px 0px 70px;
}

.hero h1 {
    font-size: 46px;
    color: #20376C;
    font-family: "NCS Radhiumz", 'Avenir LT STD', sans-serif;
    font-style: normal;
    line-height: 125%;
    text-align: center;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    font-weight: 400;
    color: #20376C;
    font-family: 'Avenir LT STD', sans-serif;
    font-style: normal;
    text-align: center;
}

@media (min-width: 1024px) {
    .hero {
        background-attachment: fixed;
    }
}

@media (max-width: 991px) {
    .hero {
        height: 70%;
    }

    .hero h1 {
        text-align: center;
        font-size: 36px;
        line-height: 40px;
        width: auto;
    }

    .hero p {
        text-align: center;
        font-size: 16px;
        width: auto;
    }
}

@media (max-width: 575px) {
    .hero .hero-img img {
        max-width: 300px;
    }
}

@-webkit-keyframes up-down {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}

@keyframes up-down {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}