.contato h1 {
    font-family: "NCS Radhiumz", "Avenir LT STD", sans-serif;
    font-size: 32px;
    color: #20376C;
}

.contato p {
    font-family: "Avenir LT STD", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #20376C;
    font-style: normal;
    text-align: left;
    margin: 10px 0px 20px;
}

.contato a:hover {
    color: #20376C;
    transition: 0.5s;
}

.contato .img-fluid {
    width: 70%;
    text-align: right;
}

.contato .texto {
    font-family: "Avenir LT STD", sans-serif;
    font-size: 18px;
    font-weight: 500;
    width: 80%;
    color: #20376C;
    font-style: normal;
    text-align: left;
}

.contato .btn-primary {
    font-family: "Avenir LT STD", sans-serif;
    align-items: center;
    text-align: center;
    font-size: 18px;
    background-color: #4678BC;
    margin-right: 5px;
    width: auto;
    border: #4678BC solid 1px;
    transition: 0.5s;
    border-radius: 50px;
}

.contato .btn-primary:hover {
    background-color: #FAFAFA;
    color: #D5626D;
    border: #D5626D solid 1px;
    transition: 0.5s;
}

@media (max-width: 991px) {
    .contato .container {
        padding: 10px 36px;
    }

    .contato .btn-primary {
        width: 80%;
        margin-top: 10px;
    }

    .contato .img-fluid {
        width: 90vw;
    }

    .contato .text-center {
        text-align: left !important;
    }
}

@media (max-width: 1084px) {
    .contato .container {
        padding: 10px 36px;
    }

    .contato .img-fluid {
        width: 80vw;
        max-width: 90vw;
        margin: 20px 0px;
    }
}