.hero,
.hero-carousel {
  background: rgba(245, 197, 210, 0.25);
  width: 100%;
  padding: 120px 0px;
}

.hero-carousel {
  padding: 60px 0px 0px;
}

.hero h1,
.hero-carousel h1 {
  font-size: 42px;
  width: 100%;
  color: #20376C;
  font-family: "NCS Radhiumz", 'Avenir LT STD', sans-serif;
  font-style: normal;
  line-height: 110%;
  text-align: left;
  margin-bottom: 20px;
}

.hero .hero-img,
.hero-carousel .hero-img {
  text-align: right;
}

.hero .hero-img img,
.hero-carousel .hero-img img {
  border-radius: 20px;
  width: 70%;
}

.hero p,
.hero-carousel p {
  font-size: 20px;
  font-weight: 500;
  width: 100%;
  color: #20376C;
  font-style: normal;
  text-align: left;
  margin-bottom: 20px;
}

.hero .btn-descobrir-cursos,
.hero .btn-descobrir-processos,
.cursos .btn-ver-todos {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  display: inline-block;
  border-radius: 50px;
  transition: 0.5s;
  text-align: center;
  padding: 10px 30px;
}

.hero .btn-descobrir-cursos {
  color: #FAFAFA;
  background: #4678BC;
  border: #4678BC solid 1px;
  margin-right: 10px;
}

.hero .btn-descobrir-cursos:hover {
  background: #FAFAFA;
  color: #4678BC;
  border: #FAFAFA solid 1px;
}

.hero .btn-descobrir-processos {
  color: #D5626D;
  border: #D5626D solid 1px;
}

.hero .btn-descobrir-processos:hover {
  background: #D5626D;
  color: #FAFAFA;
  border: #D5626D solid 1px;
}

@media (min-width: 1350px) {

  .hero,
  .hero-carousel {
    padding: 70px 0px;
  }
}

@media (min-width: 1024px) {
  .hero {
    background-attachment: fixed;
  }
}

@media (max-width: 991px) {
  .hero {
    height: auto;
    padding: 100px 0px 0px !important;
  }

  .hero h1,
  .hero-carousel h1 {
    text-align: left;
    font-size: 36px;
    line-height: 36px;
    width: 100%;
  }

  .hero .left {
    width: 100%;
  }

  .hero p {
    text-align: left;
    font-size: 18px;
    width: 100%;
  }

  .hero .hero-img {
    text-align: right;
    width: 80%;
    margin: 10vw;
  }

  .hero .btn-descobrir-cursos {
    width: 80vw;
    margin-bottom: 10px;
  }

  .hero .btn-descobrir-processos {
    width: 80vw;
  }
}

@media (min-width: 1024px) {
  .hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  .hero {
    text-align: center;
  }

  .hero h1 {
    font-size: 32px;
    width: 100%;
  }

  .hero .hero-img img {
    width: 100%;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}