.footer {
  background: rgba(245, 197, 210, 0.25);
  font-family: "Avenir LT STD", sans-serif;
  padding-top: 1%;
}

.footer .container {
  padding-bottom: 1%;
}

.footer .logo img {
  width: 80%;
  margin-bottom: 10px;
}

.footer .ods {
  border-top: #626262 solid 1px;
}

.footer .text {
  font-family: "NCS Radhiumz", "Avenir LT STD", sans-serif;
  font-size: 36px;
  color: #20376C;
}

.footer .text-p {
  font-family: "Avenir LT STD", sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.footer p {
  font-family: "NCS Radhiumz", "Avenir LT STD", sans-serif;
}

.footer .links {
  font-size: 18px;
  color: #20376C;
  transition: 0.2s;
}

.footer .links:hover {
  color: #D5626D;
  transition: 0.2s;
}

.footer .copyright {
  font-size: 16px;
  color: #20376C;
  text-align: center;
}

.footer .credits {
  font-family: "Avenir LT STD", sans-serif;
  text-align: center;
  color: #20376C;
  margin-top: 10px;
}

.footer .credits a {
  color: #20376C;
  font-weight: 700;
  transition: 0.3s;
}

.footer .credits a:hover {
  color: #D5626D;
  font-weight: 700;
  transition: 0.3s;
}

.footer .copyright {
  background-color: #f2f7ff;
  color: #20376C;
}

.footer .img-fluid {
  width: 45%;
  border-radius: 10px;
}

.footer .text-ods {
  margin-top: 10px;
  font-size: 16px;
}

@media (max-width: 991px) {
  .footer .img-fluid {
    width: 40%;
  }
}