body {
    font-family: "Avenir LT STD", sans-serif;
    color: #20376C;
    background-color: #FAFAFA;
}

a {
    color: #D5626D;
    text-decoration: none;
    transition: 0.5s;
}

a:hover {
    color: #20376C;
    text-decoration: none;
    transition: 0.5s;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: none;
}

body::-webkit-scrollbar-thumb {
    background-color: #4678BC;
    border-radius: 20px;
    border: 3px solid #FAFAFA;
}


.back-to-top {
    position: fixed;
    /* visibility: hidden;
    opacity: 0; */
    right: 15px;
    bottom: 15px;
    z-index: 990;
    background: #D5626D;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
  }
  
  .back-to-top i {
    font-size: 28px;
    color: #FAFAFA;
    line-height: 0;
  }
  
  .back-to-top:hover {
    background: #4678BC;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
  }
  
  .back-to-top.active {
    visibility: visible;
    opacity: 1;
  }