body {
    font-family: "Avenir LT STD", sans-serif;
    color: #20376C;
    background-color: #FAFAFA;
}

a {
    color: #D5626D;
    text-decoration: none;
    transition: 0.5s;
}

a:hover {
    color: #20376C;
    text-decoration: none;
    transition: 0.5s;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: none;
}

body::-webkit-scrollbar-thumb {
    background-color: #4678BC;
    border-radius: 20px;
    border: 3px solid #FAFAFA;
}

/*--------------------------------------------------------------
# Disable AOS delay on mobile
--------------------------------------------------------------*/

@media screen and (max-width: 768px) {
    [data-aos-delay] {
      transition-delay: 0 !important;
    }
  }